numpy
pandas
matplotlib
tensorflow
scikit-learn
imblearn
seaborn
xgboost
openai
python-dotenv
gensim
nltk
scipy
TfidVectorizer
langdetect
textblob
sentence-transformers
torch
transformers
detoxify
tokenizers
sentencepiece


