numpy
pandas
matplotlib
tensorflow
scikit-learn
imbalanced-learn
seaborn
xgboost
openai
python-dotenv
gensim
nltk
scipy
TfidVectorizer
langdetect
textblob
sentence-transformers
torch
transformers
detoxify
tokenizers
sentencepiece


